{% extends 'base.html.twig' %}

{% block title %} Offres {% endblock %}

{% block titrePage %}

    Offres

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://post.greatist.com/wp-content/uploads/sites/2/2019/05/Crunches_Cardio-1800.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Offre Débutant</h5>
                        <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">19€98 par mois</li>
                        <li class="list-group-item">Frais inscription</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://post.greatist.com/wp-content/uploads/sites/2/2019/05/Crunches_Cardio-1800.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Offre Amateur</h5>
                        <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">20€98 par mois</li>
                        <li class="list-group-item">Frais inscription</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="https://post.greatist.com/wp-content/uploads/sites/2/2019/05/Crunches_Cardio-1800.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Offre Expert</h5>
                        <p class="card-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">24€98 par mois</li>
                        <li class="list-group-item">Frais inscription</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Consulter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
