{% extends 'baseAdmin.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block titrePage %}

    Accueil

{% endblock %}

{% block body %}
    <table align="center" style="width: 70%;margin:auto">
        <tr>
            <td><h1>Description de la salle</h1></td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum purus quis scelerisque aliquet. Nulla id diam id augue auctor laoreet sed quis sapien. Curabitur sed leo eget neque condimentum dictum. Praesent lobortis pellentesque odio, ac pretium quam sodales ac. Fusce a euismod tortor. Donec nec fringilla augue, euismod semper dolor.</td>
        </tr>
    </table>
{% endblock %}
