{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block titrePage %}

    Contact

{% endblock %}

{% block body %}
    <h2> Formulaire de contact </h2>
    <ul>
        <li>Mail : </li>
        <li>Question : </li>
    </ul>
    <p>Valider</p>
{% endblock %}
