{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block titrePage %}

    Accueil

{% endblock %}

{% block body %}
    <table class="table" align="center" style="width: 70%;margin:auto">
        <tr>
            <td style="text-align: center"><h1>Description de la salle</h1></td>
        </tr>
        <tr>
            <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu lacus et nibh aliquam venenatis. Vivamus pulvinar iaculis elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pharetra ligula. Mauris sapien sapien, pellentesque vel feugiat vel, sollicitudin at est. Donec vel dignissim ipsum. Ut pretium euismod ex vel vestibulum. Vivamus porttitor laoreet molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis non massa orci.</p>

                <p>Vivamus in ultrices tortor, tristique maximus neque. Suspendisse diam nulla, suscipit a felis id, malesuada auctor elit. Morbi sit amet porttitor erat. Sed sit amet sagittis enim. Etiam suscipit pharetra eros, et congue metus posuere a. Suspendisse semper leo eu enim tincidunt, quis suscipit lorem venenatis. Mauris elementum, est sed tempor imperdiet, neque nulla fermentum velit, at bibendum ex tortor ut ante. Nulla elementum at turpis quis rutrum. Vestibulum in tempus dui. Sed vel tortor eget justo imperdiet scelerisque rutrum ut augue. Quisque pretium pulvinar justo, in posuere nulla molestie eget. Curabitur euismod fringilla dolor. Ut tellus sem, eleifend id sodales ut, imperdiet sit amet justo.</p>

                Suspendisse sit amet leo sit amet magna sodales fringilla vel ac risus. Morbi in enim at massa consequat tincidunt a vel mi. Phasellus venenatis mauris consequat justo dictum, in accumsan nibh rutrum. Nullam sagittis, sapien eget euismod fringilla, lectus lacus porttitor metus, ac auctor sapien nulla facilisis ligula. Praesent convallis molestie lobortis. Proin pharetra nunc lorem, auctor luctus dolor luctus eu. Morbi condimentum tempor sem, ac commodo purus ultrices sit amet. Aenean rhoncus vel sapien sed dictum. Pellentesque faucibus venenatis felis nec iaculis. Nulla porttitor, nisl at pretium molestie, ante nulla tempor mi, commodo rhoncus ante velit quis nulla. Cras rhoncus risus eget erat luctus dapibus.</td>
        </tr>
    </table>
{% endblock %}
